<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="style/style2.css"/>
		<link rel="stylesheet" type="text/css" href="style/resetcommon.css"/>
		<link rel="stylesheet" type="text/css" href="style/style.css"/>
		<link rel="stylesheet" type="text/css" href="style/product.css"/>
		<link rel="stylesheet" type="text/css" href="style/public.css"/>
		<link rel="stylesheet" type="text/css" href="style/slick.css"/>
		<link rel="stylesheet" type="text/css" href="style/slick-theme.css"/>
		<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="js/slick.min.js"></script>
		<script type="text/javascript" src="js/Carousel.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="header-menu">
				<img src="images/logo1.jpg" alt="辛缇logo"/>
				<ul class="header-nav">
					<li><a href="#" title="">辛缇国际首页</a></li>
					<li class="active"><a href="#" title="西餐课程">西餐课程</a></li>
					<li><a href="#" title="西餐创业方案">西餐创业方案</a></li>
					<li><a href="#" title="课程现场">课程现场</a></li>
					<li><a href="#" title="辛缇团队">辛缇团队</a></li>
					<li class="mr-0"><a href="#" title="关于辛缇">关于辛缇</a></li>
				</ul>
			</div>
			<div class="slide">
				<div class="slick1">
					<div><a href="#" title=""><img src="images/slide1.jpg" alt="专注西点蛋糕" /></a></div>
					<div><a href="#" title=""><img src="images/course-img1.jpg" alt="辛缇五大校区" /></a></div>
					<div><a href="#" title=""><img src="images/slide1.jpg" alt="辛缇零基础教学" /></a></div>
					<div><a href="#" title=""><img src="images/course-img1.jpg" alt="辛缇课程优惠" /></a></div>
					<div><a href="#" title=""><img src="images/slide1.jpg" alt="辛缇课程优惠" /></a></div>
				</div>
				<div class="slide-cont">
					<ul class="slide-text">
						<li class="show">
							<h2>菠萝海鲜焗饭1</h2>
							<img src="images/slide-title1.jpg" alt="" />
							<p>烘烤颜色美观&nbsp;&nbsp;口味咸鲜微甜</p>
							<span>菠萝要选择稍硬一些的为好，但也要熟透才行。<br/>炒干的生米时把米要炒至微白才好，水放的要适量，就和普通焖饭是一样的。<br/>甜咸可自己掌握，喜吃甜的朋友可适量多放一点糖。<br/>焖米饭时用一些牛骨汤、如没有用清水就可以。</span>
							<a href="" title="查看更多">LEARN MORE</a>
						</li>
						<li>
							<h2>菠萝海鲜焗饭2</h2>
							<img src="images/slide-title1.jpg" alt="" />
							<p>烘烤颜色美观&nbsp;&nbsp;口味咸鲜微甜</p>
							<span>菠萝要选择稍硬一些的为好，但也要熟透才行。<br/>炒干的生米时把米要炒至微白才好，水放的要适量，就和普通焖饭是一样的。<br/>甜咸可自己掌握，喜吃甜的朋友可适量多放一点糖。<br/>焖米饭时用一些牛骨汤、如没有用清水就可以。</span>
							<a href="" title="查看更多">LEARN MORE</a>
						</li>
						<li>
							<h2>菠萝海鲜焗饭3</h2>
							<img src="images/slide-title1.jpg" alt="" />
							<p>烘烤颜色美观&nbsp;&nbsp;口味咸鲜微甜</p>
							<span>菠萝要选择稍硬一些的为好，但也要熟透才行。<br/>炒干的生米时把米要炒至微白才好，水放的要适量，就和普通焖饭是一样的。<br/>甜咸可自己掌握，喜吃甜的朋友可适量多放一点糖。<br/>焖米饭时用一些牛骨汤、如没有用清水就可以。</span>
							<a href="" title="查看更多">LEARN MORE</a>
						</li>
						<li>
							<h2>菠萝海鲜焗饭4</h2>
							<img src="images/slide-title1.jpg" alt="" />
							<p>烘烤颜色美观&nbsp;&nbsp;口味咸鲜微甜</p>
							<span>菠萝要选择稍硬一些的为好，但也要熟透才行。<br/>炒干的生米时把米要炒至微白才好，水放的要适量，就和普通焖饭是一样的。<br/>甜咸可自己掌握，喜吃甜的朋友可适量多放一点糖。<br/>焖米饭时用一些牛骨汤、如没有用清水就可以。</span>
							<a href="" title="查看更多">LEARN MORE</a>
						</li>
						<li>
							<h2>菠萝海鲜焗饭5</h2>
							<img src="images/slide-title1.jpg" alt="" />
							<p>烘烤颜色美观&nbsp;&nbsp;口味咸鲜微甜</p>
							<span>菠萝要选择稍硬一些的为好，但也要熟透才行。<br/>炒干的生米时把米要炒至微白才好，水放的要适量，就和普通焖饭是一样的。<br/>甜咸可自己掌握，喜吃甜的朋友可适量多放一点糖。<br/>焖米饭时用一些牛骨汤、如没有用清水就可以。</span>
							<a href="" title="查看更多">LEARN MORE</a>
						</li>
						<li>
							<h2>菠萝海鲜焗饭</h2>
							<img src="images/slide-title1.jpg" alt="" />
							<p>烘烤颜色美观&nbsp;&nbsp;口味咸鲜微甜</p>
							<span>菠萝要选择稍硬一些的为好，但也要熟透才行。<br/>炒干的生米时把米要炒至微白才好，水放的要适量，就和普通焖饭是一样的。<br/>甜咸可自己掌握，喜吃甜的朋友可适量多放一点糖。<br/>焖米饭时用一些牛骨汤、如没有用清水就可以。</span>
							<a href="" title="查看更多">LEARN MORE</a>
						</li>
					</ul>
					<div class="slide-dots">
						<i>01</i>
						<div></div>
						<ol>
							<li class="show"></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="cont-box cou4">
				<div class="cou4-zdrq">
					<div class="left">
						<div class="tit">
							<img src="images/cou4/cou4-tit1.jpg" alt="" />
							<i></i>
							<span>莫兰缇西点西餐学院</span>
						</div>
						<strong>针对人群</strong>
						<p>有经验者或者零基础者都可学习，针对独立开个人工作室、创业及微店课程的学员，内容精简实用，实操教学为主，实用性、创新性私家烘焙教学特色。
Experienced or zero-base students can learn, for the independent opening of individual studio, entrepreneurship and micro-shop courses of the students, the content is concise and practical, practical operation teaching is the main teaching, practical, innovative private baking teaching characteristics.</p>
						<img class="f-img" src="images/cou4/cou4-img1.jpg" alt="" />
					</div>
					<img class="right" src="images/cou4/cou4-img2.jpg"/>
				</div>
				<div class="cou4-kcnr">
					<div class="left">
						<div class="bg"></div>
						<img class="show" src="images/cou4/kcimg1-0.jpg"/>
						<img src="images/cou4/kcimg1-1.jpg"/>
						<img src="images/cou4/kcimg1-2.jpg"/>
						<img src="images/cou4/kcimg1-3.jpg"/>
						<img src="images/cou4/kcimg1-4.jpg"/>
						<img src="images/cou4/kcimg1-5.jpg"/>
					</div>
					<div class="right">
						<div class="tit">
							<img src="images/cou4/cou4-tit2.jpg" alt="" />
							<i></i>
							<span>莫兰缇西点西餐学院</span>
						</div>
						<div class="txtbox">
							<div class="show">
								<strong>课程内容——翻糖基础知识</strong>
								<p>1.翻糖基础理论知识：翻糖基本理论概述，翻糖常用工具的介绍及使用。<br/>
2.翻糖原料：①翻糖原料的认识讲解，糖皮的储存方式，糖膏的使用和调色，翻糖的擀皮方法。②翻糖膏的制作方法、注意事项及保存方法。<br/>
3.翻糖工具：①翻糖工具的认识和使用，各类翻糖模具的认识和使用，翻糖模具各品牌的了解，价格对比。</p>
							</div>
							<div>
								<strong>课程内容——花卉制作</strong>
								<p>各种花卉制作：玫瑰花、蝴蝶兰、奥斯汀玫瑰、绣球花、波斯菊、栀子花、毛茛、牡丹、大丽花……<br/>
以上为部分课程内容，课程内容以实际为准。</p>
							</div>
							<div>
								<strong>课程内容——人偶、玩偶制作</strong>
								<p>1.各种逼真的翻糖仿真人偶制作<br/>
2.各种精致可爱的翻糖卡通玩偶制作<br/>
……<br/>
以上为部分课程内容，课程内容以实际为准。
								</p>
							</div>
							<div>
								<strong>课程内容——人偶、玩偶制作</strong>
								<p>1.翻糖蛋糕胚制作：磅蛋糕或海绵蛋糕 <br/>                 
2.翻糖纸杯：海绵蛋糕制作<br/>
3.蛋糕胚的讲解、烤制、保存   <br/>                            
……<br/>
以上为部分课程内容，课程内容以实际为准。</p>
							</div>
							<div>
								<strong>课程内容——翻糖、糖霜饼干</strong>
								<p>翻糖、糖霜饼干是饼干中较为特殊的一种，以其细腻的外表、独特的内容夺人眼球，通过糖霜饼干我们可以发挥无穷的想象力，在不同的场合做出各种主题：卡通、婚礼、节日等等。<br/>
以上为部分课程内容，课程内容以实际为准。</p>
							</div>
							<div>
								<strong>课程内容——甜品台营销理论</strong>
								<p>1.技法包含：多个甜品台案例分析成功甜品台的必要元素，包括主题、配色、层次、托盘搭配、布局；素材查找方式与积累。<br/>  
2.技术特点：分享甜品台摆台配色经验、新人及婚庆沟通技巧、甜品台食材及器皿购买渠道。<br/>  
<br/>  
以上为部分课程内容，课程内容以实际为准。</p>
							</div>
						</div>
					</div>
					<ul>
						<li class="active">01</li>
						<li>02</li>
						<li>03</li>
						<li>04</li>
						<li>05</li>
						<li>06</li>
					</ul>
				</div>
				<div class="cou4-mskc1">
					<div class="left">
						<div class="tit">
							<img src="images/cou4/cou4-tit1.jpg" alt="" />
							<i></i>
							<span>莫兰缇西点西餐学院</span>
						</div>
						<div class="num"><b>01</b><i>/06</i></div>
						<strong>西点慕斯高级课程</strong>
						<p>香港独立研发中心，一年12次课程更新，紧追市场潮流。<br><span>Hong Kong independent research and development center, 
12 times a year course updates, catch up with the market trend</span></p>
					</div>
					<div class="right">
						<div></div>
						<img src="images/cou4/kcimg2-0.jpg" alt="" />
					</div>
					<ul>
						<li class="active">01</li>
						<li>02</li>
						<li>03</li>
						<li>04</li>
						<li>05</li>
						<li>06</li>
						<li class="mr0">07</li>
					</ul>
				</div>
				<div class="cou4-mskc2">
					<div class="img">
						<img class="img1" src="images/cou4/cou4-img123.jpg" alt="" />
						<img class="img2" src="images/cou4/cou4-img122.jpg" alt="" />
						<img class="img3" src="images/cou4/cou4-img125.png" alt="" />
					</div>
					<div class="text">
						<div class="tit">
							<img src="images/cou4/cou4-tit2.jpg" alt="" />
							<i></i>
							<span>莫兰缇西点西餐学院</span>
						</div>
						<div class="txt">
							<strong>针对人群</strong>
							<p>有经验者或者零基础者都可学习，针对独立开个人工作室、创业及微店课程的学员，内容精简实用，实操教学为主，实用性、创新性私家烘焙教学特色。<br >
<span>Experienced or zero-base students can learn, for the independent opening of individual studio, entrepreneurship and micro-shop courses of the students, the content is concise and practical, practical operation teaching is the main teaching, practical, innovative private baking teaching characteristics</span></p>
							<img src="images/cou4/cou4-img124.jpg" alt="" />
						</div>
					</div>
				</div>
				<div class="cou4-mskc3">
					<div class="left">
						<div class="tit">
							<img src="images/cou4/cou4-tit2.jpg" alt="" />
							<i></i>
							<span>莫兰缇西点西餐学院</span>
						</div>
						<strong>慕斯基础知识</strong>
						<p>1.西点的起源与发展：资料讲解；<br/>
							2.基础工具的认识与操作：鲜奶机、手动打蛋器等；<br/>
							3.基础原材料认识：低筋面粉、中筋面粉、高筋面粉的区别、砂糖、泡打粉等。<br/>
							1. Origin and development of western dessert: data explanation;<br/>
							2. Understanding and operation of basic tools: fresh milk machine, manual egg beater, etc.;<br/>
							3. Understanding of basic raw materials: the difference between low-gluten flour, medium-gluten flour and high-gluten flour, sugar, baking powder, etc.new products, all students update synchronously.</p>
					</div>
					<div class="right">
						<div></div>
						<img src="images/cou4/cou4-img126.jpg" alt="" />
					</div>
				</div>
				<div class="cou4-qkkc" id="qkkc">
					<script id="coutpl" type="text/html">
						<%for(var i in listcont){%>
							<div class="kc-box">
								<div class="<%= listcont[i].structure ? 'left' : 'right' %>">
									<div class="tit">
										<img src="images/cou4/<%= listcont[i].structure ? 'cou4-tit1.jpg' : 'cou4-tit2.jpg' %>" alt="" />
										<i></i>
										<span>莫兰缇西点西餐学院</span>
									</div>
									<strong> <%= listcont[i].name %> </strong>
									<% for(var j  in listcont[i].text){ %>
										<p> <%= listcont[i].text[j] %> </p>
									<%}%>
									<a href="#">LEARN  MOER</a>
								</div>
								<img class="<%= listcont[i].structure ? 'right' : 'left' %>" src="images/cou4/<%= listcont[i].img %>" alt="" />
							</div>							
						<%}%>
					</script>
				</div>
				<div class="cou4-jxfs">
					<div class="left">
						<div class="tit">
							<img src="images/cou4/cou4-tit3.jpg" alt="" />
							<i></i>
							<span>莫兰缇西点西餐学院</span>
						</div>
						<strong>教学方式</strong>
						<p>真材实料全实操教学<br/>一对一教学，老师手把手指导<br/>情景化教学，专注创业实战培训<br/> 五年内免费复训，五年内产品免费更新<br/>技能、营销、运营一站式培训</p>
					</div>
					<div class="right">
						<div class="poster-main fl carousel3" id="carousel"> 
						   <div class="poster-btn poster-prev-btn"></div> 
						   <ul class="poster-list"> 
							  <li class="poster-item"><img src="images/cou4/cou4-img3.jpg" alt="" width="100%" /></li> 
							  <li class="poster-item"><img src="images/cou4/cou4-img4.jpg" alt="" width="100%" /></li>
							  <li class="poster-item"><img src="images/cou4/cou4-img5.jpg" alt="" width="100%" /></li>
							  <li class="poster-item"><img src="images/cou4/cou4-img6.jpg" alt="" width="100%" /></li>
							  <li class="poster-item"><img src="images/cou4/cou4-img7.jpg" alt="" width="100%" /></li>
						   </ul> 
						   <div class="poster-btn poster-next-btn"></div> 
						</div>
					</div>
					<img class="jsfs-shadow" src="images/cou4/cou4-img9.jpg" alt="" />
				</div>
				<div class="cou4-jxhj">
					<div class="tit">
						<img src="images/cou4/cou4-tit2.jpg" alt="" />
						<i></i>
						<span>莫兰缇西点西餐学院</span>
					</div>
					<strong>教学环境及设备</strong>
					<p>莫兰缇西点西餐教室按照真实后厨环境打造，国际设备配置，一人一机操作。<br/>Moranty framed classroom in accordance with the real kitchen environment to create,international equipment configuration,one machine operation.</p>
					<div class="slick5">
						<div class='show'><img src="images/cou4/cou4-img14.jpg" alt="专注西点蛋糕" /></div>
						<div><img src="images/cou4/cou4-img15.jpg" alt="辛缇五大校区" /></div>
						<div><img src="images/cou4/cou4-img16.jpg" alt="辛缇零基础教学" /></div>
						<div><img src="images/cou4/cou4-img17.jpg" alt="辛缇课程优惠" /></div>
						<div><img src="images/cou4/cou4-img14.jpg" alt="辛缇课程优惠" /></div>
					</div>
					<div class="slick6">
						<div class="active"><img src="images/cou4/cou4-img10.jpg" alt="专注西点蛋糕" /></div>
						<div><img src="images/cou4/cou4-img11.jpg" alt="辛缇五大校区" /></div>
						<div><img src="images/cou4/cou4-img12.jpg" alt="辛缇零基础教学" /></div>
						<div><img src="images/cou4/cou4-img13.jpg" alt="辛缇课程优惠" /></div>
						<div class="mr-0"><img src="images/cou4/cou4-img10.jpg" alt="辛缇课程优惠" /></div>
					</div>
				</div>
				<div class="cou4-xyal">
					<div class="left">
						<div class="tit">
							<img src="images/cou4/cou4-tit3.jpg" alt="" />
							<i></i>
							<span>莫兰缇西点西餐学院</span>
						</div>
						<strong>学员案列</strong>
						<p>创业案例遍布广西，每年培训超800名西点人才。
Entrepreneurship cases throughout guangxi, each year training more than 800 west point talent.</p>
					</div>
					<div class="right">
						<div></div>
						<img src="images/cou4/cou4-img18.jpg" alt="" />
					</div>
					<img class="botimg" src="images/cou4/cou4-img19.jpg" alt="" />
				</div>
				<div class="cou4-zskh">
					<div class="tit">
						<img src="images/cou4/cou4-tit2.jpg" alt="" />
						<i></i>
						<span>莫兰缇西点西餐学院</span>
					</div>
					<strong>证书考核</strong>
					<img class="showimg" src="images/cou4/cou4-img20.jpg" alt="" />
				</div>
				<div class="cou4-jytj">
					<div class="tit">
						<img src="images/cou4/cou4-tit3.jpg" alt="" />
						<i></i>
						<span>莫兰缇西点西餐学院</span>
					</div>
					<strong>就业推荐品牌</strong>
					<img class="showimg" src="images/cou4/cou4-img21.jpg" alt="" />
				</div>
				<div class="cou4-cyzc">
					<div class="tit">
						<img src="images/cou4/cou4-tit2.jpg" alt="" />
						<i></i>
						<span>莫兰缇西点西餐学院</span>
					</div>
					<strong>创业支持</strong>
					<ul>
						<li>
							<img src="images/cou4/cou4-img22.jpg" alt="" />
							<div>
								<p>开店创业指导</p>
								<span>莫兰缇5年以上店长经验的创业老师一对一进行创
业盈利模式、产品定位、销售目标人群以及优势分
析的系统化创业指导。</span>
							</div>
						</li>
						<li>
							<img src="images/cou4/cou4-img23.jpg" alt="" />
							<div>
								<p>装修设计规划</p>
								<span>莫兰缇集团专业装修设计师协助进行装修风格的规划，帮助学员打造高标准店面设计，兼具实用性，体验感。</span>
							</div>
						</li>
						<li class="mr0">
							<img src="images/cou4/cou4-img24.jpg" alt="" />
							<div>
								<p>开业促销规划</p>
								<span>专业创业小组人员协助学员进行开业促销策划，包含促销创意，促销物料设计、开业流程规划一站式服务。</span>
							</div>
						</li>
						<li>
							<img src="images/cou4/cou4-img25.jpg" alt="" />
							<div>
								<p>高端营销课程</p>
								<span>价值 5880 元高端营销课程，包含定位方向，线上线下营销渠道、促销活动策划、运营管理，实现快速盈利。</span>
							</div>
						</li>
						<li>
							<img src="images/cou4/cou4-img26.jpg" alt="" />
							<div>
								<p>定期运营诊断</p>
								<span>集团创业小组定期巡店，帮助创业学员进行系统的运营诊断分析，找出运营问题进行解决，完善运营流程。</span>
							</div>
						</li>
						<li class="mr0">
							<img src="images/cou4/cou4-img27.jpg" alt="" />
							<div>
								<p>创业基金支持</p>
								<span>学员创业可申请10000元创业基金解决创业资金问题。</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="message">
				<div class="message-top">
					<span>MESSAGE BOARD</span>
					<h3>留言板</h3>
				</div>
				<form class="message-box">
					<ul>
						<li>姓名:<input type="text" /></li>
						<li>微信:<input type="text" /></li>
						<li>电话:<input type="text" /></li>
					</ul>
					<textarea></textarea>
					<input class="submit" type="submit" value="提交留言" />
				</form>
			</div>
			<div class="link-box">
				<div class="box-content">
					<ul class="fl">
						<li class="list1">
							<a href="#" title="辛缇国际集团西餐课程">辛缇国际集团西餐课程</a>
							<a href="#" title="辛缇国际集团牛排课程">辛缇国际集团牛排课程</a>
							<a href="#" title="辛缇国际集团披萨课程">辛缇国际集团披萨课程</a>
							<a href="#" title="辛缇国际集团意面课程">辛缇国际集团意面课程</a>
							<a href="#" title="辛缇国际集团烘焙甜点课程">辛缇国际集团烘焙甜点课程</a>
							<a href="#" title="辛缇国际集团咖啡饮品课程">辛缇国际集团咖啡饮品课程</a>
							<a href="#" title="辛缇国际集团西餐创业综合课程">辛缇国际集团西餐创业综合课程</a>
						</li>
						<li>
							<a href="" title="西餐创业方案">西餐创业方案</a>
							<a href="" title="营销培训">营销培训</a>
							<a href="" title="礼仪培训">礼仪培训</a>
							<a href="" title="开店扶持">开店扶持</a>
							<a href="" title="课程现场">课程现场</a>
							<a href="" title="辛缇国际师资团队">辛缇国际师资团队</a>
						</li>
						<li>
							<a href="" title="辛缇国际集团资讯">辛缇国际集团资讯</a>
							<a href="" title="集团资讯">集团资讯</a>
							<a href="" title="西餐知识">西餐知识</a>
							<a href="" title="学员问答">学员问答</a>
							<a href="" title="学员作品">学员作品</a>
						</li>
						<li>
							<a href="" title="关于辛缇国际集团">关于辛缇国际集团</a>
							<a href="" title="咖啡教室">咖啡教室</a>
							<a href="" title="西餐教室">西餐教室</a>
							<a href="" title="烘焙教室">烘焙教室</a>
							<a href="" title="学员五星公寓">学员五星公寓</a>
							<a href="" title="">联系辛缇</a>
						</li>
					</ul>
					<div class="line fl"></div>
					<div class="blogroll fl">
						<h3>友情链接</h3>
						<a href="#" title="xx公司">xxxxxxx公司</a>
						<a href="#" title="xx公司">xxxxxxx公司</a>
						<a href="#" title="xx公司">xxxxxxx公司</a>
						<a href="#" title="xx公司">xxxxxxx公司</a>
						<a href="#" title="xx公司">xxxxxxx公司</a>
						<a href="#" title="xx公司">xxxxxxx公司</a>
						<a href="#" title="xx公司">xxxxxxx公司</a>
						<a href="#" title="xx公司">xxxxxxx公司</a>
					</div>
				</div>
			</div>
			<div class="footer-record">
				<div class="record-cont">
					<img class="fl" src="images/footer-logo.png" alt="logo" />
					<div class="record-txt fl"><p>版权所有：辛缇国际（香港）集团有限公司 备案号：桂CP123456<br/>24小时服务热线：400-008-6666</p></div>
					<img class="fr" src="images/footer-scan.jpg" alt="二维码" />
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/index-pc.js"></script>
		<script type="text/javascript" src="js/product.js"></script>
		<script type="text/javascript" src="js/template.js"></script>
		<script type="text/javascript">
			var coudata ={
				listcont:[
					{'name':'莫兰缇流行西点课程','structure':true,'text':[
						'1.戚风蛋糕胚系列：香草美人胚、法芙娜巧克力胚等；',
						'2.经典蛋糕款：德式黑森林、提拉米苏等；',
						'3.饼干系列：蔓越莓饼干、牛油小花、手工雪花酥等；',
						'4.Roll Cake系列：梦龙魔法蛋糕卷、经典虎皮蛋糕卷等；',
						'5.明星产品：黑糖珍珠泡芙、日式半熟芝士',
						'......'
					],'img':'cou4-img91.jpg',str:'abc'},
					{'name':'莫兰缇私房蛋糕课程','structure':false,'text':[
						'1.花嘴练习：多种立体花卉、平面花卉的裱花手法与技巧等；',
						'2.抹面技巧练习：圆形蛋糕、方形蛋糕、心型蛋糕等；',
						'3.蛋糕胚制作：戚风胚、巧克力胚等；',
						'4.蛋糕制作练习 ：圆形蛋糕、水果裸蛋糕、芭比蛋糕',
						'......',						
						'以上为部分课程内容，课程内容以实际为准。'
					],'img':'cou4-img92.jpg'},
					{'name':'莫兰缇面包烘焙课程','structure':true,'text':[
						'1.甜面包：面团制作及造型装饰，手工饼干的制作等；',
						'2.餐包的制作：红豆餐包、提子餐包、豆沙条等；',
						'3.中种面包的讲解：翠华菠萝包、浪漫甜甜圈等；',
						'4.胡萝卜面包的制作：胡萝卜面包面团的操作及装饰等；',
						'5.欧包的制作：软欧的制作，硬欧的制作',
						'......'
					],'img':'cou4-img93.jpg',str:'abc'},
					{'name':'莫兰缇高级翻糖课程','structure':false,'text':[
						'1.花卉制作：玫瑰花、牡丹、蝴蝶兰、毛茛等；',
						'2.翻糖卡通玩偶制作；',
						'3.翻糖仿真人偶制作；',
						'4.花卉组装：翻糖花成品的组装与搭配技巧',
						'......',					
						'以上为部分课程内容，课程内容以实际为准。'
					],'img':'cou4-img94.jpg'},
					{'name':'莫兰缇韩式裱花课程','structure':true,'text':[
						'1.花卉制作：玫瑰、芍药、芍药花苞、珍珠梅等；',
						'2.叶子制作：多种叶子、小树枝等；',
						'3.杯子蛋糕：海绵蛋糕制作与烘烤出品等；',
						'4.整体造型设计：抹面练习、花卉摆放',
						'......',					
						'以上为部分课程内容，课程内容以实际为准。'
					],'img':'cou4-img95.jpg',str:'abc'},
					{'name':'莫兰缇咖啡高级课程','structure':false,'text':[
						'1.咖啡基础知识：吧台了解；关于咖啡豆等；',
						'2.关于牛奶：牛奶的打发等；',
						'3.关于拉花：如何掌握好拉花的技巧与练习奶泡与水流等；',
						'4.咖啡的制作：卡布奇诺、焦糖玛奇朵、摩卡、拿铁',
						'......',					
						'以上为部分课程内容，课程内容以实际为准。'
					],'img':'cou4-img96.jpg'},
					{'name':'莫兰缇奶茶特饮课程','structure':true,'text':[
						'1.冰沙类：芒果牛奶冰沙、奇异果冰沙、奥利奥旋风冰沙等；',
						'2.鲜果乳酸菌：百香乳酸菌、香橙乳酸菌等；',
						'3.经典奶茶：烤奶、黑水晶奶茶、奶茶三兄弟等；',
						'4.气泡系列：百香益力多苏打、红石榴苏打',
						'......',					
						'以上为部分课程内容，课程内容以实际为准。'
					],'img':'cou4-img97.jpg',str:'abc'},
					{'name':'莫兰缇港式甜品课程','structure':false,'text':[
						'1.甜品类：椰汁西米露、杨枝甘露等；',
						'2.手工甜品类：榴莲班戟、芒果千层、抹茶毛巾卷等；',
						'3.养生甜品类：生磨芝麻糊、生磨花生糊等；',
						'4.新品热销类：雪媚娘、冰皮月饼、千层椰香马蹄糕',
						'......',						
						'以上为部分课程内容，课程内容以实际为准。'
					],'img':'cou4-img98.jpg'},
					{'name':'莫兰缇西餐部分产品','structure':true,'text':[
						'1.披萨基础知识：披萨讲解等；',
						'2.披萨制作：披萨酱料的讲解汁、酱料的种类与制作过程等;',
						'3.意大利面酱汁：演示制作意大利面酱汁等；',
						'4.意大利面菜式：经典番茄意面、意大利肉经典酱面',
						'......',						
						'以上为部分课程内容，课程内容以实际为准。'
					],'img':'cou4-img99.jpg',str:'abc'}
				]
			}
			var couTpl = template(document.getElementById('coutpl').innerHTML,coudata);
   			document.getElementById("qkkc").innerHTML = couTpl;
		</script>
	</body>
</html>
