.content{
	width:100%;
}

/*数字样式*/
.number{
	width:100%;
	height:205px;
	background:#f5f5f5;
}

.number ul{
	height:205px;
}

.number ul li{
	float:left;
	width:300px;
	overflow:hidden;
}

.number ul li:hover{
	background:#fff;
}

.number ul li:hover .fl{
	width:300px;
	height:201px;
	border-bottom:6px solid #000;
}

.number ul .fl{
	float:left;
	width:300px;
	height:205px;
}


.number ul img{
	display:block;
	height:124px;
	margin:40px auto 0;	
}

.number ul p{
	margin-top:-40px;
	text-align:center;
	font-size:16px;
	color:#333;
}

.number ul p:hover{
	color:#333;
}

.number ul .fr{
	float:left;
	margin-top:106px;
	width:104px;
	height:1px;
	background:#dedede;
}

/*解决方案*/
.solve{
	margin-top:108px;
}

.solve .top{
	height:78px;
}

.solve .top h2{
	height:78px;
	font-size:34px;
	color:#24292b;
	background:url(../images/solve-logo-txt.jpg) no-repeat left bottom;
}

.solve .top span{
	padding-left:22px;
	font-weight:400;
}

.solve .top .menu{
	margin-top:16px;
	border-bottom:1px solid #999280;
}

.solve .top li{
	float:left;
	margin-right:45px;
	color:#666;
	font-size:16px;
	line-height:50px;
	cursor:pointer;
}

.solve .top .active{
	margin-bottom:-1px;
	color:#000;
	line-height:50px;
	border-bottom:4px solid #dfbd6e;	
}

.solve .top .last{
	margin-right:0;
}

.solve .top .last a{
	display:block;
	width:22px;
	height:50px;
	background:url(../images/solve-ican1.jpg) no-repeat center center;
	background-size:auto;
}

.solve .mid{
	margin-top:88px;
	width:100%;
	height:662px;
	background:url(../images/solve-bg.jpg) no-repeat 0 51px;
	background-size:100% 611px;
}

.solve .mid .box{
	position:relative;
	height:662px;	
}

.solve .mid .box .num-tit{
	position:absolute;
	top:-60px;
	right:-48px;
	width:34px;
	height:154px;
}

.solve .mid .con{
	position:relative;
	width:944px;
	height:488px;
	background:#24292b url(../images/solve-bg-txt.jpg) no-repeat 426px 54px;	
}

.solve .mid .txt{
	position:relative;
	width:418px;
	height:490px;
	color:#fff;
}

.solve .mid li{
	position:absolute;
	top:74px;
	left:40px;
	display:none;
}

.solve .mid .show{
	display:block;
}

.solve .mid strong{
	font-size: 36px;
}

.solve .mid i{
	margin:25px 0;
	display:block;
	width:40px;
	height:4px;
	background:#ccc;
}

.solve .mid p{
	padding-bottom:10px;
	font-size:16px;
}

.solve .mid span{
	font-size:15px;
	line-height:24px;
	color:#959595;
}

.solve .mid .link{
	margin-top:20px;
	width:394px;
	height:42px;
}

.solve .mid .link a,
.btn{
	float:left;
	display:block;
	margin-right:12px;
	width:180px;
	height:40px;
	text-align: center;
	line-height:42px;
	font-size:16px;
	color:#fff;
	border:1px solid #fff;
	border-radius:20px;
}

.solve .mid .link .color{
	border:1px solid #dfbd6e;
	color:#dfbd6e;
}

.solve .mid .imgs{
	position:absolute;
	bottom:-248px;
	left:40px;
	width:598px;
	height:210px;
}

.solve .mid .imgs .mr-0{
	margin-right:0;	
}

.solve .mid .imgs img{
	display:block;
	float:left;
	margin-right:35px;
	width:176px;
	height:210px;	
}

.solve .mid .show-img{
	position:absolute;
	right:-768px;
	bottom: -248px;
	display:block;
	width:470px;
	height:410px;
}

.solve .mid .more{
	float:right;
	
	margin:108px 4px 0 0;
	width: 166px;
	height:15px;
	font-size:16px;
	background:url(../images/solve-more-arrow.png) no-repeat bottom right;
	color:#666;
}

.service{
	width:100%;
	height:490px;
}

.service .box{
	margin-top:110px;
	height:280px;
}

.service .box .mr-0{
	margin-right: 0;
	width:171px;
	padding:0 17px;
}

.service .box li{
	float:left;
	margin-right:42px;
	width:202px;
	height:278px;
} 

.service .cla>div{
	display:none;
}

.service .cla .show{
	display:block;
}

.service .box .t{
	width:185px;
	height:278px;
	padding:0 17px;
	border:1px solid #ececec;
}

.service .t i{
	display:block;
	margin:26px 0 0 -18px;
	width:169px;
	height:25px;
	background:#dfbd6e;
}

.service li p{
	margin:34px 0 10px 0;
	font-size:18px;
	color:#000;
}

.service li span{
	font-size:13px;
	line-height:20px;
	color:#666;
}

.service .t img{
	margin-top:50px;
	display:block;
	float:right;
	width:60px;
	height:50px;
}

.service .b{
    width: 202px;
    height: 278px;
}

.service .b .bor-t{
	margin-bottom:34px;
	width:100%;
	height:1px;
	background:#a8b1b0;
}


.service .bor-t i{
	display:block;
	margin:0 auto;
	width:33px;
	height:1px;
	background:#dfbd6e;
}

.service .b img{
	display:block;
	width:100%;
	height:83px;
}

.service .b p{
	margin-top:60px;
}


.service .mr-0 strong{
	font-size:42px;
	color:#000;
}

.service .mr-0 strong span{
	font-size:42px;
	font-weight:400;
	color:#000;
}

.service .mr-0 p{
	font-size:16px;
	color:#b9b9b9;
}

.service .mr-0 .btn{
	margin-top:36px;
	color:#dfbd6e;
	border-color:#000;
}

.procedure{
	padding-top:80px;
	width:100%;
	height: 244px;
	background:url(../images/procedure-bg.jpg) no-repeat;
	background-size:100% 100%;
}

.procedure .box{
	position:relative;
	height:167px;
}

.procedure .box .num-tit{
	position:absolute;
	top:-167px;	
	left:-46px;
	width: 38px;
	height: 146px;
}

.procedure .box .fl{
	width: 324px;
	height: 167px;
}

.procedure .fl h3{
	font-size: 26px;
	line-height: 24px;
	font-weight: normal;
	color: #fff;
}

.procedure .fl p{
	margin-top:12px;
	font-size: 18px;
	line-height: 24px;
	color: #666;
}

.procedure .fl span{
	margin-top:12px;
	display:block;
	font-size: 30px;
	line-height: 24px;
	color: #dfbd6e;
}

.procedure .fl .btn{
	margin-top:34px;
}

.procedure .fr{
	margin-top:24px;
	width:738px;
	height:130px;
}

.procedure .fr li{
	float:left;
	margin-right:13px;
	width: 136px;
	height: 130px;
	border-right:1px solid #949494;
}

.procedure .fr .r-0{
	margin:0;
}

.procedure .fr p{
	font-size: 16px;
	line-height:24px;
	color: #fff;
}

.procedure .fr img{
	display:block;
	margin-top:62px;
	width:7px;
	height:11px;
}

.product{
	width:100%;
	height:1544px;
}

.product .top{
	position:relative;
	margin-top:100px;
	height:890px;
}

.product .top .r .num-tit{
	position:absolute;
	top:-46px;
	right:-53px;
	display:block;
	width:37px;
	height:195px;
}

.product .top li{
	float:left;
	margin-right:18px;
	height:890px;
}

.product .top .mr-0{
	margin:0;
}

.product .top .l{
	width: 488px;
}

.product .top .c{
	width: 387px;
}

.product .top .r{
	width: 289px;
}

.product .top .l img{
	margin-bottom:16px;
	height:285px;
}

.product .top .txt{
	height:278px;
	border-bottom:7px solid #eaeaea;
	margin-bottom:16px;
}

.product .top h2{
	font-size: 50px;
	font-weight: normal;
	line-height:44px;
	color: #000000;
}

.product .top i{
	display:block;
	margin:28px 0;
	width: 34px;
	height: 3px;
	background: #dfbd6e;
}

.product .top p{
	font-size: 26px;
	line-height: 36px;
	color: #333;
}

.product .top span{
	margin-top:41px;
	display:block;
	width:382px;
	font-size: 12px;
	line-height: 24px;
	font-weight:700;
	color: #999999;
}

.product .top .l img{
	display:block;
	width: 488px;
}

.product .top .l .mr-0{
	height:287px;
}

.product .top .c img,
.product .top .r img{
	display:block;
	width:100%;
	margin-bottom:16px;
}

.product .top .r img{
	margin-bottom:16px;
}

.product .top .bx{
	position:relative;
}

.product .top .zz{
	position:absolute;
	top:0;
	left:0;
	display:none;
	width:100px;
	height:100px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	background:rgba(0,0,0,.8);
}

.product .top .show{
	display:block;	
}

.product .style1 .zz{
	width:488px;
	height:285px;
}

.product .style2 .zz{
	width:488px;
	height:287px;
}

.product .style3 .zz{
	width:387px;
	height:285px;
}

.product .style4 .zz{
	width:387px;
	height:588px;
}

.product .style5 .zz{
	width:289px;
	height:588px;
}

.product .style6 .zz{
	width:289px;
	height:286px;
}

.product .zz p{
	border:2px solid #555758;
	color:#fff;
	font-size:28px;
	text-align:center;
}

.product .style1 .zz p,
.product .style2 .zz p{
	padding-top:80px;
	margin:36px auto;
	width:406px;
	height:128px;
}

.product .style3 .zz p{
	padding-top:60px;
	margin:50px auto;
	width:304px;
	height:116px;
}

.product .style4 .zz p{
	padding-top:150px;
	margin:102px auto;
	width:250px;
	height:230px;
}

.product .style5 .zz p{
	padding-top:170px;
	margin:82px auto;
	width:214px;
	height:254px;
}

.product .style6 .zz p{
	padding-top:90px;
    margin:25px auto;
	width:236px;
	height:146px;
}

.product .zz span{
	margin:0;	
}

.product .line{
	margin:85px auto 68px;
	width:1186px;
	height:6px;
	border-left:7px solid #b5b5b5;
	border-right:7px solid #b5b5b5;
	border-bottom:1px dotted #b5b5b5;
}

.product .bot{
	height:304px;
}

.product .bot .tit{
	text-align:center;
	height:108px;
}

.product .tit h2{
	font-size: 42px;
	font-weight: normal;
	line-height: 40px;
	color: #2a2a2a;
}

.product .tit i{
	margin:17px auto 19px;
	display:block;
	width: 34px;
	height: 3px;
	background: #dfbd6e;
}

.product .tit img{
	display:block;
	margin:0 auto;
	width: 401px;
	height: 28px;
}

.product .list{
	margin:38px auto 0;
	width:1176px;
	height:158px;
}

.product .list li{
	float:left;
	padding-left:46px;
	width:142px;
	height:158px;
	border-left:1px solid #ececec;
}

.product .list img{
	display: block;
	margin:40px 0 9px;
	height:28px;
}

.product .list p{
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 36px;
	color: #333333;
}

.product .list p:hover{
	color: #dfbd6e;
	font-weight:700;
}

.product .list span{
	font-size: 12px;
	color: #bcbcbc;
}

.product .list .last{
	width:157px;
	border-right:1px solid #ececec;
}

.product .last p{
	font-size: 18px;
	letter-spacing: 2px;
}



.advantage{
	width:100%;
	height:1724px;
}

.advantage .tit{
	width:100%;
	height:256px;
	background:#24292b;
}

.advantage .box{
	overflow:hidden;
}

.advantage .tit .fr{
	margin-top:116px;
	width:714px;
	height:94px;
	background:url(../images/advantage-tit.jpg) no-repeat 146px 62px;
}

.advantage .tit i{
	float:left;
	margin:71px 17px 0 0;
	display:block;
	width: 128px;
	height: 1px;
	background: #66696b;
}

.advantage .tit h2{
	float:left;
	display:block;
	width:562px;
	font-size: 50px;
	color: #ffffff;
	font-weight:400;
}

.advantage .tit span{
	color: #dfbd6e;
}

.advantage .tit p{
	display:inline;
	padding-left:8px;
	font-size: 26px;
	font-weight:400;
}

.advantage .cont{
	margin-top:-200px;
	height:1558px;
}

.advantage .cont .mr-b{
	margin-bottom:20px;
}

.advantage .cont .box1{
	height:530px;
}

.advantage .cont .height{
	height:283px;
}

.advantage .cont .height2{
	height:344px;
}

.advantage .cont .show-img{
	display:block;	
}

.advantage .box1 .txt{
	margin:285px 0 0 46px;
	height:154px;
}

.advantage .box1 strong{
	display:block;
	margin-left:48px;
	font-size: 36px;
	font-weight: 400;
	color: #111111;
}

.advantage .box1 p{
	margin-top:30px;
	width:415px;
	font-size: 16px;
	line-height: 28px;
	color: #666;
}

.advantage .box1 .style1{
	margin:88px auto 0;
}

.scroll{
	width:100%;
	height:298px;
	background:url(../images/scroll-bg.jpg) no-repeat;
	background-size:100% 100%;
}

.scroll .box{
	padding-top:62px;
	height:174px;
}

.scroll .box img{
	display:block;
	margin:0 auto;
	width:161px;
	height:51px;
}

.scroll .box h3{
	text-align:center;
	font-size: 32px;
	font-weight:400;
	line-height:82px;
	letter-spacing: 3px;
	color: #ffffff;
}

.scroll .box a{
	float:none;
	margin:0 auto;
}

.caselist{
	width:100%;
	height:758px;
	background:url(../images/caselist-bg.jpg) no-repeat  0px 206px;
}

.caselist .tit{
	margin-top:108px;
	height:127px;
	text-align:center;
}

.caselist .tit h2{
	font-size: 50px;
	font-weight: 400;
	color: #1f1e1f;
}

.caselist .tit i{
	display:block;
	margin:20px auto;
	width:34px;
	height:3px;
	background:#000;
}

.caselist .tit p{
	font-size: 18px;
	letter-spacing: 2px;
	color: #000;
}

.caselist .cont{
	position:relative;
	margin:174px auto 0;
	width: 796px;
	height: 239px;
	border: solid 5px #dfbd6e;
}

.caselist .cont .btn{
	position:absolute;
	top:100px;
	width:37px;
	height:37px;
	cursor:pointer;
}

.caselist .cont .btnl{
	left:-80px;
}

.caselist .cont .btnr{
	right:-80px;
}

.caselist .cont .text{
	display:none;
	position:absolute;
	left:85px;
	width:616px;
	height: 220px;
	text-align:center;
}

.caselist .cont .show{
	display:block;
}

.caselist .text img{
	display:block;
	margin:-110px auto 30px;
	width: 180px;
	height: 180px;
}

.caselist .text h3{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #010101;
}


.caselist .text span{
	font-size: 14px;
	line-height: 24px;
	color: #999;
}


.caselist .text p{
	width:616px;
	height:70px;
	overflow:hidden;
	text-align:left;
	font-size: 14px;
	line-height: 24px;
	color: #666;
}

.abous{
	width: 100%;
	height:538px;
	background:#24292b url(../images/abous-bg.jpg) no-repeat;
	background-size:58.2% 100%;
}

.abous .box{
	height:538px;
}

.abous .box .fl{
	margin:193px 0 0 20px;
	padding:26px 21px 0;
	width:248px;
	height:312px;
	border-top:8px solid #dfbd6e;
	background:#fff;
	color:#000;
}

.abous .fl h3{
	font-size: 30px;
	line-height:30px;
	color: #010101;
}

.abous .fl p{
	font-size: 16px;
	line-height:37px;
}

.abous .fl ul{
	margin-top:20px;
}

.abous .fl li{
	margin-bottom:10px;
	padding-left: 50px;
	width: 198px;
	height: 42px;
	border:1px solid #e5e5e5;
}

.abous .fl .bg1{
	background:url(../images/abous-ican1.jpg) no-repeat 15px center;
}

.abous .fl .bg2{
	background:url(../images/abous-ican2.jpg) no-repeat 15px center;
}


.abous .fl .bg3{
	background:url(../images/abous-ican3.jpg) no-repeat 15px center;
}


.abous .fl input{
	display:block;
	padding-left:10px;
	border:none;
	border-left:1px solid #e5e5e5;
	width: 187px;
	height: 42px;
	font-size: 14px;
	color:#cecece;
}

.abous .fl .btn-box{
	margin-top:16px;
	width:100%;
	height:36px;
}

.abous .fl .btn-box input{
	display:block;
	width: 120px;
	height: 36px;
	padding:0;
	border-radius:18px;
	font-size: 16px;
}

.abous .btn-box .btnl{
	float:left;
	background: #dfbd6e;
	color:#fff;
}

.abous .btn-box .btnr{
	float:right;
	border:1px solid #dfbd6e;
	background:none;
	color:#dfbd6e;
}

.abous .box .fr{
	padding-left:20px;
	width:424px;
	height:538px;
	background:#24292b;	
}

.abous .fr h3{
	margin-top:64px;
	padding-left: 66px;
	height:83px;
	background:url(../images/abous-tit.jpg) no-repeat;
	background-size:161px 83px;
	font-size: 30px;
	line-height: 50px;
	font-weight:400;
	color: #ffffff;
}

.abous .fr p{
	margin-top:30px;
	width:348px;
	font-size: 14px;
	line-height: 28px;
	color: #8e9091;
}

.abous .fr a{
	margin-top:46px;
	padding:0 20px;
}

.news{
	padding-top:100px;
	width: 100%;
	height:720px;
}

.news .cont{
	height:478px;
}

.news .cont .fl{
	width:760px;
	height:478px;
	
}

.news .cont h2{
	font-size: 28px;
	font-weight: 400;
	line-height: 26px;
	color: #010101;
}

.news .fl ul{
	margin-top:54px;
	width:100%;
	height:398px;
}

.news .fl li{
	float:left;
	width: 337px;
	height: 172px;
	margin:0 86px 54px 0;
}

.news .fl .mr-0{
	margin-right:0;
}

.news .fl i{
	display:block;
	margin-bottom:40px;
	width: 12px;
	height: 3px;
	background-color: #dfbd6e;
}

.news .fl a{
	display:block;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: #333;
}

.news .fl a p{
	margin-top:10px;
	font-size: 14px;
	line-height: 26px;
	color: #666666
}

.news .fl .active a{
	color:#dfbd6e;
}

.news .fl span{
	display:block;
	padding-top:14px;
	font-size: 14px;
	line-height: 26px;
	color: #999999;
}

.news .cont .fr{
	margin-top:12px;
	width:360px;
	height:444px;
}

.news .fr .menu{
	margin:0 auto 30px;
	width: 345px;
	height: 15px;
	font-size: 16px;
	color: #010101;
}

.news .menu .font-y span{
	color: #dfbd6e;
}

.news .menu dd,
.news .menu dt{
	float:left;
}

.news .menu dt{
	width: 115px;
	cursor:pointer;
}

.news .menu .two{
	text-align:center;
}

.news .menu .three{
	text-align:center;
}

.news .fr .list{
	position:relative;
	width:360px;
	height:400px;
	overflow:hidden;
}

.news .list ul{
	position:absolute;
	top:0;
	left:0;
	width:1080px;
	height:400px;
}

.news .list li{
	float:left;
	width:360px;
	height:400px;
}


.news .list a{
	display: block;
	width:100%;
	height:67px;
	font-size: 16px;
	color: #333333;
	background:url(../images/news-arrow1.jpg) no-repeat 305px 23px;
	background-size:21px 21px;
}

.news .list i{
	float:left;
	margin:32px 12px 0 24px;
	display:block;
	width:4px;
	height:4px;
	border-radius:2px;
	background:#000;
}

.news .list p{
	padding-top:24px;
	width:260px;
	height:18px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    white-space:nowrap;
}

.news .list .active{
	background:#000 url(../images/news-arrow2.png) no-repeat 305px 23px;
	color:#fff;
}

.news .list .active i{
	background:#fff;
}

.news .bot{
	margin-top:60px;
	height:129px;
}

.news .bot a{
	float:left;
	display:block;
	margin-right:10px;
	width:232px;
	height:129px;
	background-size:100% 100%;
	text-align:center;
	font-size: 16px;
	line-height:150px;
	color: #fff;
}

.news .bot a:hover{
	color:#dfbd6e;
}

.news .bot .bg1{
	color: #dfbd6e;
	background:url(../images/news-bot1.jpg) no-repeat;
}

.news .bot .bg2{
	background:url(../images/news-bot2.jpg) no-repeat;
}

.news .bot .bg3{
	background:url(../images/news-bot3.jpg) no-repeat;
}

.news .bot .bg4{
	background:url(../images/news-bot4.jpg) no-repeat;
}

.news .bot .bg5{
	margin-right:0;
	background:url(../images/news-bot5.jpg) no-repeat;
}
/**/
