body{
	font-family:"SimSun","Microsoft Yahei";
}

/*调用样式*/
.box{
	margin:0 auto;
	width:1200px;	
}

.mr-0{
	margin-right:0;
}

/*头部样式*/
.header{
	margin:0 auto;
	width:100%;
}

.header .nav{
	width:100%;
	height:38px;
	background:#f9f9f9;
}

.header .nav p{
	float:left;
	display:block;
	font-size:14px;
	line-height:38px;
	color:#000;
}

.header .nav .link{
	float:right;
	display:block;
	height:38px;
}

.header .nav a{
	float:left;
	display:block;
	margin-left:14px;
	line-height:38px;
	font-size:13px;
}

.header .nav i{
	float:right;
	display: block;
	padding-left:12px;
	font-size:13px;
}

.header .menu{
	position:relative;
	height:86px;
}

.header .menu .link{
	float:right;
}

.header .menu a{
	float:left;
	display:block;
	line-height:80px;
	font-size:16px;
	color:#000;
}

.header .menu a:hover{
	border-bottom:6px solid #dfbd6e;	
}

.header .menu i{
	float:left;
	display:block;
	width:1px;
	height:10px;
	background:#d3d3d3;
	margin:36px 22px 0;
}

.header .banner{
	position:relative;
	width:100%;
	height:680px;
}
	
.header .banner .cont{
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:680px;
}

.header .banner .bg{
	display:block;
	width:100%;
	height:680px;
}

.header .banner .text{
	position:absolute;
	top:0;;
	left:0;
	width:100%;
	height:680px;
	color:#fff;
}

.header .banner .box{
	margin-top:118px;
}

.header .text img{
	margin-bottom:46px;
	display:block;
}

.header .text strong{
	font-weight:400;
	font-size:56px;
	letter-spacing:4px;
}

.header .text p{
	margin:26px 0 40px;
	font-size:34px;
}

.header .text a{
	display:block;
	width:214px;
	height:56px;
	line-height:56px;
	text-align:center;
	font-size:16px;
	font-weight:700;
	color:#fff;
	border:1px solid #fff;
}
	
.header .text span{
	display:block;
	height:24px;
	margin-top:28px;
	font-size:24px;
	line-height:24px;
	text-indent:30px;
	color:#dfbd6e;
	background:url(../images/banner-ican2.png) no-repeat;
	background-size:contain;
}

.header .ican-con{
	position:absolute;
	left:0;
	bottom:52px;
	width:100%;
	color:#fff;
}

.header .ican-con p{
	float:left;
	font-size:30px;	
	width:70px;
}

.header .ican-con .radius{
	float:right;
}

.header .ican-con i{
	float:left;
	display:block;
	margin:14px 0 0 10px;
	width:11px;
	height:11px;
	background:url(../images/banner-ican4.png) no-repeat;
	cursor:pointer;
}

.header .ican-con .active{
	background:url(../images/banner-ican3.png) no-repeat;
}

.header .logo{
	position:absolute;
	top:-86px;
	left:0;
	width:578px;
	height:108px;
	background:url(../images/head-logo.jpg) no-repeat;
	background-size:100%;
	z-index:9999;
}

.header .logo a{
	float:right;
	display:block;
	width:218px;
	height:108px;
}

/*底部样式*/
.footer{
	width:100%;
	overflow:hidden;
}
.footer .cont{
	padding-top:56px;
	width:100%;
	height:336px;
	background: #24292b;
}

.footer .cont .box{
	height:289px;
}

.footer .cont .box li{
	float:left;
	height:289px;
	border-right:1px solid #5d6464;
}

.footer .cont .box strong{
	font-size: 16px;
	color:#fff;
	font-weight:400;
}

.footer .cont strong p{
	margin-top:0;
	font-size: 12px;
	line-height: 30px;	
}

.footer .cont .contact{
	width:190px;
}

.footer .cont .link{
	margin-top:30px;
	width:56px;
	font-size: 14px;
	line-height:30px;
	color: #666;
}

.footer .cont .link a:hover{
	color:#dfbd6e;	
}

.footer .cont .address{
	padding:0 40px;
	width:317px;
}

.footer .cont .address .style1{
	margin-top:30px;
	font-size: 14px;
	line-height: 30px;
	color: #666;
}

.footer .cont .ewm{
	padding:0 52px;
	width:153px;
}

.footer .cont .ewm .bg{
	width:153px;
	height:224px;
	background: #515656;
	text-align:center;
}

.footer .cont .ewm span{
	display:block;
	color: #c4c4c4;
}

.footer .cont .ewm .t{
	line-height:50px;
	font-size: 20px;
}

.footer .cont .ewm .b{
	font-size: 12px;
}

.footer .cont .ewm i{
	margin:12px auto 9px;
	display:block;
	width: 46px;
	height: 1px;
	background-color: #6d6d6d;
}

.footer .cont .ewm img{
	width:101px;
	height:104px;
}

.footer .cont .box .logo{
	padding-left:80px;
	width:272px;
	border-right:none;
}

.footer .logo .bor{
	width:270px;
	height:224px;
	border: solid 1px #3c3f3f;
}

.footer .logo img{
	margin:33px auto 27px;
	display:block;
	width: 198px;
	height: 63px;
}

.footer .logo .h-bg{
	margin:0 auto;
	display:block;
	width: 216px;
	height: 74px;
}

.footer .b-link{
	height: 60px;
	background: #171b1d;
	border-bottom:1px solid #dfbd6e;
}

.footer .b-link .box{
	height:60px;	
}

.footer .b-link strong{
	float:left;
	width:112px;
	height:60px;
	line-height:60px;	
	font-size: 16px;
	color: #dfbd6e;
}

.footer .b-link strong span{
	padding:0 0 0 4px;
	font-size: 12px;
	line-height:64px;
}

.footer .b-link .list-link{
	float:left;
	margin-left:39px;
	width:972px;
	height:60px;
	line-height:60px;
}

.footer .b-link .list-link a{
	color: #5e5e5e;
	margin-right:36px;
}

.footer .b-link .list-link a:hover{
	color: #dfbd6e;
}

.footer .b-link .fr{
	margin-top:22px;
	width:17px;
	height:17px;
}
